In [1]:
#cond(itions:
data= int(input("enter data value"))
print(f"value=>{data}")

value=>100

In [5]:
print("you see a apple seller")
q=input("do you like the apple?")
if q=="yes" :
    print("you purchase 2kg of apples")
if q=="no" :
    print("you dont purchase apples")

you see a apple seller

In [1]:
salary=42000
if salary > 50000:
    da=.15            
total=salary + salary * da
print(f"total salary is{total}")

NameError: name 'da' is not defined

In [9]:
del da

In [3]:
#solution 1- create the da variable before condition
salary=42000
da=0
if salary > 50000:
    da=.15            
total=salary + salary * da
print(f"total salary is {total}")

total salary is 42000

In [8]:
#solution 2- use if else
salary=42000
da=0
if salary > 50000:
    da=.15            
    total=salary + salary * da
else:
    total=salary
print(f"total salary is {total}")

total salary is 42000

In [ ]:
#solution 3- use if else with their own print
salary=42000
if salary > 50000:
    da=.15            
    total=salary + salary * da
    print(f"total salary is {total}")
else:
    total=salary
    print(f"total salary is {total}")

total salary is 42000

In [13]:
x=int(input("enter the x value:"))
y=int(input("enter the y value:"))
if x>y:
    a=x-y
else:
    a=y-x
print(a)

100

In [16]:
name=input("enter your fav movie")
if len(name)>10:
    print(f"long movie name:{name}")
else:
    print(f"short movie name:{name}")
print("the end")

short movie name:bahubali
the end

Handling multiple conditions using if-elif

In [4]:
print("what is the capital of India?")
answer=input("Answer")
if answer=="Delhi":
    print("your are correct")
if answer=="New Delhi":
    print("you are very correct")
if answer==("I dont know"):
    print("U must be sleeping under a rock")
if answer=="shimla":
    print("you must be from britain")

what is the capital of India?
you are very correct

In [14]:
marks=int(input("enter your total marks in 10th:"))
if marks>90 and marks<=100:
    print("your grade:A")
if marks>75:
    print("your grade:B")
if marks>60:
    print("your grade:C")
if marks>40:
    print("your grade:D")
if marks<40:
    print("you failed ☠️")

your grade:B
your grade:C
your grade:D

In [15]:
marks=int(input("enter your total marks in 10th:"))
if marks>90 and marks<=100:
    print("your grade:A")
elif marks>75:
    print("your grade:B")
elif marks>60:
    print("your grade:C")
elif marks>40:
    print("your grade:D")
elif marks<40:
    print("you failed ☠️")

your grade:B

In [16]:
#without elif
marks=int(input("enter your total marks in 10th:"))
if marks>90 and marks<=100:
    print("your grade:A")
if marks>75 and marks<90:
    print("your grade:B")
if marks>60 and marks<75:
    print("your grade:C")
if marks>40 and marks<60:
    print("your grade:D")
if marks<40:
    print("you failed ☠️")

your grade:B

In [19]:
#salary calculator
salary=int(input("enter your frnds salary:"))
if salary>100000:
    total=salary-salary*.2
elif salary>80000:
    total=salary-salary* .1
elif salary>50000:
    total=salary-salary*.05
else:
    total=salary+10000
print(f"frnds salary=>{salary}")
print(f"frnds total=>{total}")

frnds salary=>80000
frnds total=>76000.0

In [2]:
# match case
day=input("what is the day today?")
match day:
    case"monday":print("today is monday! boring")
    case"sunday":print("holiday")
    case"friday":print("waiting for the weekend")
    case"saturday":print("the best day of the week")
    case default:print("its not an option")

its not an option

In [5]:
print("tell me some movie")
genre=input("what genre do you like?")
match genre:
    case"action":
        print("avengers,deadpool,fast&furious")
    case"horror":
        print("IT,nun,bhoot")
    case"fantasy":
        print("Harrypotter series,lord of the ring series")
    case"sci-fi"|"comedy":
        print("adam project,nimona,interstellar")
    case default:
        print("you should not watch any movies")

tell me some movie
Harrypotter series,lord of the ring series

In [8]:
ans=input("you see a bear,would you like to fight it y/n?")
if ans=="n":
    print("you escaped and find a lion")
    ans2=input("you want to fight it y/n?")
    if ans2=="n":
        print("you escaped again,and find a car")
        ans3=input("you want to drive it y/n")
        if ans3=="y":
            print("you escaped the area")
        else:
            print("the bear &lion catch and kill you")
    else:
        print("you failed miserably and died")
else:
    print("the bear destroyed you")

you escaped and find a lion
you failed miserably and died

In [1]:
a,b,c=10,5,23
if a>b:
    if a>c:
        total=a+b+c
        if total>100:
            print(f"the total is big value={total}")
        else:
            print(f"the total is small value={total}")
    else:
        total=c+b
        print(f"the total is {total}")
else:
    print("the total was not calculated")

the total is 28