In [ ]:
#data structures - list,tuple,set,dictionary
#list-> mutable,indexed,heterogenous, duplicates allowed,represented by [] & list(),ordered data structure

In [ ]:
x=[]         #empty
x=list()     #empty
y=[1,2,3]    #direct initialization

In [4]:
z=[]
z.append("apple")     #add single value
z.append("cherry")
z.append("avacado")
print(z)

['apple', 'cherry', 'avacado']

In [ ]:
x=[1,2,3]
y=[4,5,6]
z=x+y             #concatenate list
print(z)

[1, 2, 3, 4, 5, 6]

In [6]:
#list of duplicate
a=[1]*10     #cloning
print(a)
b=[1,2]*5
c=a*2
print(b)
print(c)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [7]:
#displaying
print(a)    #raw output
#displaying single item at a time using loop
for item in a:
    print(item)
#single element using index
print(a[0])
print(a[3],a[5])

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
1
1
1
1
1
1
1
1
1
1
1
1 1

In [ ]:
students=["bhargav","sameer","srikanth","yashwanth","yashwanth","vamsi","ram","ajay","balaji","abhi","ruhi","varsha","sumitra","lahari","jyoshna","meghana","anjali","sirisha","sahithi","geeta"]

In [3]:
books=[]
#adding one item at a time
books.append("the way of king")
print(books)
books.append("the final empire")
books.append("steelheart")
books.append("legion")
print(books)

['the way of king']
['the way of king', 'the final empire', 'steelheart', 'legion']

In [4]:
books.append("harrypotter","jungle book")

TypeError: list.append() takes exactly one argument (2 given)

In [7]:
colors=["red","green","blue"]
colors.extend(["yellow","black"])
print(colors)

['red', 'green', 'blue', 'yellow', 'black']

In [9]:
colors=["red","green","blue"]
colors.extend(["yellow","black"])
colors2=["purple","pink","yellow"]
colors.extend(colors2)
print(colors)

['red', 'green', 'blue', 'yellow', 'black', 'purple', 'pink', 'yellow']

In [10]:
nums=[]
for i in range(1,11):
    nums.append(i)
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
movies=[]
for i in range(5):
    value=input("enter movie names")
    movies.append(value)
print(movies)

['ddlj', 'yjhd', 'eega', 'rrr', 'animal']

In [19]:
x=[1,5,10]
x.insert(1,2)   #insert(index,value)
print(x)
x.insert(2,3)
print(x)
x.insert(4,9)
print(x)

[1, 2, 5, 10]
[1, 2, 3, 5, 10]
[1, 2, 3, 5, 9, 10]

In [ ]:
#list methods-11 methods
-adding elements:
1.append()- add one element to the end of the list
2.insert()- add one element to a specific position
3.extend()-append multiple items in a list
-removing elements:
1.remove()-remove the first occurence of a value
2.pop()- remove and return an element from an index
3.clear()-remove all elements from the list
-utility methods:
1.count()
2.index()
3.sort()
4.reverse()
5.copy()

In [6]:
books=["one indian girl","2 states","the educated","to kill a mocking bird","ikigai","do epic shit","subtle art of not giving a f","emma","7 wonders","revolution 2020"]
print("size of book list",len(books))

size of book list 10

In [7]:
books.remove("one indian girl")
print(books)

['2 states', 'the educated', 'to kill a mocking bird', 'ikigai', 'do epic shit', 'subtle art of not giving a f', 'emma', '7 wonders', 'revolution 2020']

In [8]:
#validation based removal
if "emma" in books:
    books.remove("emma")
print(books)

['2 states', 'the educated', 'to kill a mocking bird', 'ikigai', 'do epic shit', 'subtle art of not giving a f', '7 wonders', 'revolution 2020']

In [10]:
print(books)
len(books)

['2 states', 'the educated', 'to kill a mocking bird', 'ikigai', 'do epic shit', 'subtle art of not giving a f', '7 wonders', 'revolution 2020']

8

In [11]:
books.pop(3)

'ikigai'

In [12]:
books.pop()

'revolution 2020'

In [13]:
books.clear()
print(books)

[]

In [5]:
languages=["c","python","kotlin","java","dart","go","c++","c#","html","javascript","scalar","rust","mojo","assembly"]
print(languages)
len(languages)
numbers=[12,56,23,67,13,23,12,56,23,56,12,34,23,23,12,34,34,23,53,92]
print(numbers)
data=[1,"apple",2,"avacado",3,"apricot"]
print(data)

['c', 'python', 'kotlin', 'java', 'dart', 'go', 'c++', 'c#', 'html', 'javascript', 'scalar', 'rust', 'mojo', 'assembly']
[12, 56, 23, 67, 13, 23, 12, 56, 23, 56, 12, 34, 23, 23, 12, 34, 34, 23, 53, 92]
[1, 'apple', 2, 'avacado', 3, 'apricot']

In [6]:
numbers.count(12)   #counts how many times 12 occurs in list

4

In [7]:
print(numbers.count(1))
print(numbers.count(23))
print(numbers.count(56))

0
6
3

In [8]:
languages.index("kotlin")

2

In [24]:
print(languages.index("c"))
print(languages.index("java"))
print(languages.index("python"))
print(languages.index("dart"))

0
3
1
4

In [9]:
print("original",languages)
languages.sort()  #sort in A-Z
print("sorted",languages)
languages.sort(reverse=True)      #sort in reverse
print("sorted in reverse",languages)

original ['c', 'python', 'kotlin', 'java', 'dart', 'go', 'c++', 'c#', 'html', 'javascript', 'scalar', 'rust', 'mojo', 'assembly']
sorted ['assembly', 'c', 'c#', 'c++', 'dart', 'go', 'html', 'java', 'javascript', 'kotlin', 'mojo', 'python', 'rust', 'scalar']
sorted in reverse ['scalar', 'rust', 'python', 'mojo', 'kotlin', 'javascript', 'java', 'html', 'go', 'dart', 'c++', 'c#', 'c', 'assembly']

In [10]:
print("original",data)
data.reverse()
print("reversed",data)

original [1, 'apple', 2, 'avacado', 3, 'apricot']
reversed ['apricot', 3, 'avacado', 2, 'apple', 1]

In [1]:
#nested list- list within a list
x=[]
x2=[[]]

print(x)
print(x2)

[]
[[]]

In [2]:
x.append(1)
x.append(2)
x.append(3)
print(x)

[1, 2, 3]

In [3]:
x2.append(1)
x2.append([1,2,3])
x2.append([4,5,6])
print(x2)

[[], 1, [1, 2, 3], [4, 5, 6]]

In [5]:
items=[
    ["red","green","blue"],
    ["apple","guava","blueberry"],
    [150,100,300]
]
print(items)
print("size of list",len(items))
print("size of list at index 0 is",len(items[0]),"->",items[0])
print("size of list at index 1 is",len(items[1]),"->",items[1])
print("size of list at index 2 is",len(items[2]),"->",items[2])
print("element 0 as list 0 is",items[0][0])
print("element 2 as list 0 is",items[0][2])
print("element 0 as list 1 is",items[1][0])
print("element 1 as list 1 is",items[1][1])

[['red', 'green', 'blue'], ['apple', 'guava', 'blueberry'], [150, 100, 300]]
size of list 3
size of list at index 0 is 3 -> ['red', 'green', 'blue']
size of list at index 1 is 3 -> ['apple', 'guava', 'blueberry']
size of list at index 2 is 3 -> [150, 100, 300]
element 0 as list 0 is red
element 2 as list 0 is blue
element 0 as list 1 is apple
element 1 as list 1 is guava

In [8]:
matrix=[[12,23,45,25],[85,95,25,15],[30,32,35,5]]
print(matrix)
print("size of list",len(matrix))
print("size of list at index 0 is",len(matrix[0]),"->",matrix[0])
print("size of list at index 1 is",len(matrix[1]),"->",matrix[1])
print("size of list at index 2 is",len(matrix[2]),"->",matrix[2])
print("element 1 as list 1 is",matrix[1][1])
print("element 2 as list 0 is",matrix[0][2])
print("element 0 as list 1 is",matrix[1][0])
print("element 0 as list 0 is",matrix[0][0])

[[12, 23, 45, 25], [85, 95, 25, 15], [30, 32, 35, 5]]
size of list 3
size of list at index 0 is 4 -> [12, 23, 45, 25]
size of list at index 1 is 4 -> [85, 95, 25, 15]
size of list at index 2 is 4 -> [30, 32, 35, 5]
element 1 as list 1 is 95
element 2 as list 0 is 45
element 0 as list 1 is 85
element 0 as list 0 is 12

In [10]:
for row in matrix:
    print(row)

[12, 23, 45, 25]
[85, 95, 25, 15]
[30, 32, 35, 5]

In [11]:
#nested loop for nested list
for row in matrix:
    for val in row:
        print(val,end=" ")

12 23 45 25 85 95 25 15 30 32 35 5

In [ ]:
for row in matrix:
    for val in row:
        print(val,end=" ")
    print()  #change line after each row

12 23 45 25
85 95 25 15
30 32 35 5

In [ ]:
total=0                  #sum of matrix
for row in matrix:
    for val in row:
        total +=val
print(total)

427

In [ ]:
total=1                     #product of matrix
for row in matrix:
    for val in row:
        total *=val
print(total)

157959112500000000

In [ ]:
for row in matrix:                        #sum of matrix row
    total=0
    for value in row:
        total += value
    print(row,'=>',total)

[12, 23, 45, 25] => 105
[85, 95, 25, 15] => 220
[30, 32, 35, 5] => 102

In [ ]:
for row in matrix:                        #average
    total=0
    for value in row:
        total += value
    avg=round(total/len(row),1)
    print(row,"->",avg)

[12, 23, 45, 25] -> 26.2
[85, 95, 25, 15] -> 55.0
[30, 32, 35, 5] -> 25.5

In [18]:
#other way
for row in matrix:                        #average
    total=0
    for value in row:
        total += value/len(row)
    print(row,"->",avg)

[12, 23, 45, 25] -> 25.5
[85, 95, 25, 15] -> 25.5
[30, 32, 35, 5] -> 25.5

In [22]:
#column wise sum of matrix
size=len(matrix[0])
for c in range(size):
    total=0
    for r in range(len(matrix)):
        total += matrix[r][c]
    print(f"column{c}=>{total}")

column0=>127
column1=>150
column2=>105
column3=>45

In [23]:
size=len(matrix[0])
for c in range(size):
    total=0
    for r in range(len(matrix)):
        total += matrix[r][c]/len(matrix)
    print(f"column{c}=>{total}")

column0=>42.33333333333333
column1=>50.0
column2=>35.0
column3=>15.0

In [2]:
#slicing
x=[11,12,13,15,19]
x[0:3]

[11, 12, 13]

In [3]:
x[-1]

19

In [4]:
x=[11,12,13,15,19]
x[2:5]

[13, 15, 19]

In [5]:
x[2:len(x)]

[13, 15, 19]

In [11]:
x=["e","d","u","c","a","t","i","o","n"]
x[3:6]
x[-5:-3]
x[3:-3]
x[-5:6]

['a', 't']

In [21]:
name="william shakespeare"
len(name)
name[8:13]
name[8:-6]

'shake'

In [24]:
name[3:7]
name[-5:-1]

'pear'

In [27]:
name[:7]

'william'

In [26]:
name[8:]

'shakespeare'

In [28]:
fname=name[:7]
lname=name[8:]
print(fname)
print(lname)

william
shakespeare

In [29]:
name="neha nakshatra"
name[0:len(name):2]

'nh asar'

In [ ]:
name[::2]  #even item

'nh asar'

In [ ]:
name[1::2]    #odd item

'eankhta'

In [8]:
name="vijay deenanath chauhan"
fname=name[:5]
mname=name[6:16]
lname=name[-7:]
print(fname)
print(mname)
print(lname)

vijay
deenanath
chauhan

In [ ]:
name[::2]   #even
name[1::2]  #odd
name[::-1]   #reverse a string

In [9]:
name="neha nakshatra reddy"
name[::-1]

'ydder artahskan ahen'

In [ ]:
#reverse print element
x=[1,2,3,4,6,7,9,11,13]
for item in x[::-1]:
    print(item)

13
11
9
7
6
4
3
2
1

In [12]:
#reverse list in place
a=[1,2,3]
a[:]   #get all element
a[:]=a[::-1]
print(a)

[3, 2, 1]

In [14]:
#rotate list
x=[1,2,3,4,5]
ans=x[2:]+x[:2]
print(x,ans)

[1, 2, 3, 4, 5] [3, 4, 5, 1, 2]

In [ ]:
x=[1,3,4,5]
x2=[]
for i in x:
    s=i*2
    x2.append(s)
print(x,x2)

[1, 3, 4, 5] [2, 6, 8, 10]

In [20]:
x=[4,8,12,16]
x3=[]
for i in x:
    x3.append(i//2)
print(x,x3)

[4, 8, 12, 16] [2, 4, 6, 8]

In [21]:
x=[1,2,3]
y=[4,5,6]
xy=[]
for i,j in zip(x,y):
    xy.append(i+j)
print(x,y,xy,sep="\n")

[1, 2, 3]
[4, 5, 6]
[5, 7, 9]

In [23]:
z=[2,3,4]
zsqr=[]
for i in z:
    zsqr.append(i**2)
print(z,zsqr)

[2, 3, 4] [4, 9, 16]

In [26]:
#comprehension  - way in python that do all the above process in a single line
y=[1,2,3]
y2=[i*2 for i in y]
print(y,y2)

[1, 2, 3] [2, 4, 6]