In [ ]:
name="neha"           #static program
city="tirupati"

In [2]:
name

'neha'

In [ ]:
input() function is used for taking user input

In [3]:
name=input()

In [6]:
sum()

TypeError: sum() takes at least 1 positional argument (0 given)

In [8]:
len()

TypeError: len() takes exactly one argument (0 given)

In [10]:
name= input("enter name:")
city= input("enter city:")
addr= input("enter addr:")
print(name,city,addr)

neha tirupati srinagar colony

In [ ]:
a=10      #static
b=20
c=a+b
print(a,b,c)

10 20 30

In [ ]:
a=input("enter the value:")                #dynamic
b=input("enter the value:")
c=a+b
print(a,b,c)

10 20 1020

In [14]:
a=int(input("enter the value:"))          #dynamic input-> typecasted
b=int(input("enter the value:"))
c=a+b
print(a,b,c)

10 20 30

In [15]:
radius=float(input("enter the radius of a circle"))
diameter=radius*2
circumference=2*3.14*radius
area=3.14*radius**2

print(radius)
print(diameter)
print(circumference)
print(area)

5.5
11.0
34.54
94.985

In [18]:
#simple interest
p=float(input("enter the value:"))
r=float(input("enter the value:"))
t=float(input("enter the value:"))
si=p*r*t/100
print(p)
print(t)
print(r)
print(si)

2000.0
3.0
7.5
450.0

In [21]:
pi=3.14
r=float(input("enter the value:"))
h=float(input("enter the value:"))
v=pi*r**2*h  
print(v)

904.32

In [ ]:
#formatting the output
print("this is an example")          #displaying the message
print("one","two","three")           #display multiple data value
print("1","2","3",4+5)               #displaying multiple data and expression
print("apple","banana","oranges",sep="/")    #displaying multiple data with separator
print("💗❣️🫶🏻😍")

this is an example
one two three
1 2 3 9
apple/banana/oranges
💗❣️🫶🏻😍

In [12]:
print(1,2,3,4,5)            #separator
print(1,2,3,4,5,sep="")
print(1,2,3,4,5,sep=",")
print(1,2,3,4,5,sep="\n")
print(1,2,3,4,5,sep="hello world")
print(1,2,3,4,5,sep="➡️")
print(*"neha",sep="✨")

1 2 3 4 5
12345
1,2,3,4,5
1
2
3
4
5
1hello world2hello world3hello world4hello world5
1➡️2➡️3➡️4➡️5
n✨e✨h✨a

In [19]:
a=100
b=30
c=a+b
print(c)
print("answer "+str(c))   #c is converted into string(str+str),otherwise it will give error
print("answer",c)
print("answer %d"%c)        # not the best way
print("%d+%d=>%d"%(a,b,c))  #also very complicated 
print("answer{}".format(c))  #old way
print("{}+{}={}".format(a,b,c)) #old way

130
answer 130
answer 130
answer 130
100+30=>130
answer130
100+30=130

In [ ]:
#Final actual way to format output using f-string
a=100
b=30
c=a+b
print(f"answer {c}")
print(f"{a} +{b} ={c}")   #f-string/formattable string

answer 130
100 +30 =130

In [25]:
print(f'we get {c},when we add {a} and {b}')

we get 130,when we add 100 and 30

In [27]:
name="neha"
job="spy"
company="echeleon"
print(f"my name is {name}, i work as a {job} in {company} ")

my name is neha, i work as a spy in echeleon

In [28]:
p=20
b=10
h=(p**2 + b**2)**.5
print("calculation of hypotenuse")
print(f"perpendicular =>{p}")
print(f"base => {b}")
print("based on pythagoras theorem:")
print(f"hypotenuse => {h}")

calculation of hypotenuse
perpendicular =>20
base => 10
based on pythagoras theorem:
hypotenuse => 22.360679774997898