In [7]:
for _ in range(5):
    print("25")

25
25
25
25
25

In [6]:
for _ in range(5):
    print("this is a statement")

this is a statement
this is a statement
this is a statement
this is a statement
this is a statement

In [8]:
for i in range(15):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [ ]:
for x in range(1,16):      #start(1), stop(16)
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [10]:
a=5
b=10
for i in range(a,b):
    print(i)

5
6
7
8
9

In [11]:
x=int(input("enter start"))
y=int(input("enter stop"))
for i in range(x,y):
    print(x,y,i)

10 20 10
10 20 11
10 20 12
10 20 13
10 20 14
10 20 15
10 20 16
10 20 17
10 20 18
10 20 19

In [13]:
size=10
for i in range(1,size+1):
    print(f"12*{1}={12*i}")

12*1=12
12*1=24
12*1=36
12*1=48
12*1=60
12*1=72
12*1=84
12*1=96
12*1=108
12*1=120

In [8]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [9]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [10]:
for i in range(1,10,3):
    print(i)

1
4
7

In [7]:
for i in range(0,15,5):
    print(i)

0
5
10

In [11]:
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

In [12]:
# to print all even numbers from 200-200
for num in range(100,201,2):
    print(num)

100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200

In [ ]:
# to print all even numbers from 200-200(horizantal answer)
for num in range(100,201,2):
    print(num,end=",")

100,102,104,106,108,110,112,114,116,118,120,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150,152,154,156,158,160,162,164,166,168,170,172,174,176,178,180,182,184,186,188,190,192,194,196,198,200,

In [14]:
colors=["red","blue","green"]
print(colors)

['red', 'blue', 'green']

In [ ]:
#formatted output
for color in colors:
    print(color)

red
blue
green

In [ ]:
movies=["spiderman","stranger things","ginny&gorgia","grays anatomy","harry potter","true beauty","F1","evil dead","conjuring","business proposal"]
print(movies)

['spiderman', 'stranger things', 'ginny&gorgia', 'grays anatomy', 'harry potter', 'true beauty', 'F1', 'evil dead', 'conjuring', 'business proposal']

In [18]:
for movie in movies:
    print(movie)

spiderman
stranger things
ginny&gorgia
grays anatomy
harry potter
true beauty
F1
evil dead
conjuring
business proposal

In [21]:
for num in range(1,100,2):
    print(num,end=",")

1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,83,85,87,89,91,93,95,97,99,

In [2]:
for i in range(-10,10,3):
    print(i,end=",")

-10,-7,-4,-1,2,5,8,

In [ ]:
#loop with conditions:
#syntax:
for var in iterable:
    if condition:
        statement
    else:
        statement

In [3]:
for i in range(1,11):
    if i%2==0:
        print(i)

2
4
6
8
10

In [8]:
for i in range(1,11):
    if i%2!=0:
        print(i)

1
3
5
7
9

In [9]:
nums=[1,5,11,3,12,15]
for i in nums:
    if i%2==0:
        s=i**2
        print(s)
    else:
        print("odd numbers")

odd numbers
odd numbers
odd numbers
odd numbers
144
odd numbers

In [11]:
nums=[1,5,11,3,12,15]
for i in nums:
    if i%2!=0:
        s=i**3
        print(s)
    else:
        print("even numbers")

1
125
1331
27
even numbers
3375

In [2]:
#calculate area of circles whose radius is given in list:
radius=[3,5,6,11,10]
for r in radius:
    area=3.14*r**2
    print(f"the area for{r} is {area}")

the area for3 is 28.26
the area for5 is 78.5
the area for6 is 113.04
the area for11 is 379.94
the area for10 is 314.0

In [3]:
video_games=["pubg","freefire","gta","minecraft","stumble guys","gardenescapes","temple run","criminal case","zombie run","among us"]
for name in video_games:
    if name.startswith("c"):
        print(name)

criminal case

In [4]:
books=["the final empire","warbreaker","elantris","the well of ascension","the alloy of law","hero of ages","the way of kings"]
for book in books:
    if "the" in book or "of" in book:
        print(f"book->{book}")

book->the final empire
book->the well of ascension
book->the alloy of law
book->hero of ages
book->the way of kings

In [9]:
#Aggregation                 (before the loop separate var needs to be given for aggregate functions)
total=0
for num in range(10,21):
    total=total+num
print(total)

165

In [12]:
total=1
for num in range(10,21):
    total=total*num
print(total)

6704425728000

In [13]:
nums=[5,11,2,53,10,33]
m=0
for num in nums:
    if num>m:
        m=num
print(m)

53

In [17]:
nums=[25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50]
count=0
for num in nums:
    if num%3==0:
        count=count+1
print(f"total count={count}")

total count=8

In [18]:
nums=[25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50]
count=0
for num in nums:
    if num%2==0:
        count=count+1
print(f"total count={count}")

total count=13

In [1]:
movies=["jab we met","rockstar","wake up sid","udtha punjab","yjhd","highway","darlings","dil dhadakne do","tamasha","gully boys","mili","uri","animal","ok jaanu","dhadak"]
movies_with_h=0
for movie in movies:
    if movie.startswith("H") or movie.startswith("h"):
        movies_with_h += 1
print("count",movies_with_h)

count 1

In [3]:
#Method 2
movies=["jab we met","rockstar","wake up sid","udtha punjab","yjhd","highway","darlings","dil dhadakne do","tamasha","gully boys","mili","uri","animal","ok jaanu","dhadak"]
movies_with_h=0
for movie in movies:
     if movie.startswith("H") or movie.startswith("h"):
        movies_with_h= movies_with_h+1
print("count",movies_with_h)

count 1

In [4]:
#5 -> 5*4*3*2*1->120
#factorial
num=10
fact=1
for i in range(num,0,-1):
    fact=fact*i
print(fact)

3628800

In [5]:
num=10     #to see calculation
fact=1
for i in range(num,0,-1):
    print(f'{i}*{fact}')
    fact=fact*i
print(fact)

10*1
9*10
8*90
7*720
6*5040
5*30240
4*151200
3*604800
2*1814400
1*3628800
3628800

In [ ]:

# Nested loop
#loops total 10*5 => 50 times
for i in range(1,11):      #loops 10 times
    for j in range(1,6):   #loops 5 times
        print(f"i={i},j={j}")

i=1,j=1
i=1,j=2
i=1,j=3
i=1,j=4
i=1,j=5
i=2,j=1
i=2,j=2
i=2,j=3
i=2,j=4
i=2,j=5
i=3,j=1
i=3,j=2
i=3,j=3
i=3,j=4
i=3,j=5
i=4,j=1
i=4,j=2
i=4,j=3
i=4,j=4
i=4,j=5
i=5,j=1
i=5,j=2
i=5,j=3
i=5,j=4
i=5,j=5
i=6,j=1
i=6,j=2
i=6,j=3
i=6,j=4
i=6,j=5
i=7,j=1
i=7,j=2
i=7,j=3
i=7,j=4
i=7,j=5
i=8,j=1
i=8,j=2
i=8,j=3
i=8,j=4
i=8,j=5
i=9,j=1
i=9,j=2
i=9,j=3
i=9,j=4
i=9,j=5
i=10,j=1
i=10,j=2
i=10,j=3
i=10,j=4
i=10,j=5

In [12]:
n=6
for i in range(1,n):
    for j in range(1,n):
        print(i,end="")
    print()

11111
22222
33333
44444
55555

In [13]:
n=6
for i in range(1,n):
    for j in range(1,n):
        print(j,end="")
    print()

12345
12345
12345
12345
12345

In [ ]:
#jump statement
#continue-to skip a step
#break-to stop the loop
#always used with a condition inside a loop

In [3]:
#skip every value divisible by 3
for i in range(1,25):
    if i%3==0:
        continue
    print(i,end=" ")

1 2 4 5 7 8 10 11 13 14 16 17 19 20 22 23

In [5]:
data=[1,2,0,3,3,0,1,2,0,5,6,7,2,0,2,1]
for i in data:
    if i == 0:
        continue
    print(i,end=" ")

1 2 3 3 1 2 5 6 7 2 2 1

In [6]:
for i in range(1,11):
    if i==8:
        break
    print(i,end=" ")

1 2 3 4 5 6 7

In [8]:
#add all values entered by user till he types 0
total=0
for i in range(100):
    print("enter o to stop the loop")
    value=int(input("enter a value"))
    if value==0:
        break
    total+=value
print(f"total={total}")

enter o to stop the loop
enter o to stop the loop
total=78

In [1]:
#for else
nums=[2,5,8,11,15]
for n in nums:
    print(n)
print("loop completed")

2
5
8
11
15
loop completed

In [2]:
nums=[2,5,8,11,18]
for n in nums:
    if n>10:
        break
    print(n)
print("loop completed")

2
5
8
loop completed

In [5]:
value=int(input("enter breakpoint"))
nums=[1,2,3,4,5,6,11,15,20,25]
for n in nums:
    if value>n:
        print("loop broken")
        break
else:
    print("loop complted")

loop broken

In [13]:
num=int(input("enter a number"))
for n in range(2,num):
    if num%n==0:
        print(f"{num} not a prime number")
        break
else:
    print(f"{num} is prime number")

5 is prime number

In [17]:
#while loop
x=50
while x>0:
    print(x,end=" ")
    x-=5

50 45 40 35 30 25 20 15 10 5