In [1]:
name = input("Enter your name: ")
print("Hello,", name)
city = input("Enter your city: ")
print("You are from", city)
age = int(input("Enter your age: "))
print("You are", age, "years old.")
rate = float(input("Enter your rate: "))
print("Your rate is", rate)

Hello, neha
You are from tirupati
You are 20 years old.
Your rate is 10.0

In [2]:
print("Welcome to Python!")
print("Sum:", 5 + 3)
print("Hello", "World", "!")
name = "Alice"
print("Name:", name)
name, age, city = "Alice", 22, "New York"
print("Name:", name, "Age:", age, "City:", city)

Welcome to Python!
Sum: 8
Hello World !
Name: Alice
Name: Alice Age: 22 City: New York

In [3]:
name = "Alice"
age = 22
print(f"{name} is {age} years old.")

Alice is 22 years old.

In [4]:
print("{} scored {} marks.".format("Bob", 95))
print("{1} is {0} years old.".format(30, "Charlie"))

Bob scored 95 marks.
Charlie is 30 years old.

In [5]:
x = 10
print(type(x))  # <class 'int'>

<class 'int'>

In [6]:
z = 1 + 2j
print(type(z))  # <class 'complex'>

<class 'complex'>

In [7]:
n = None
print(type(n))  # <class 'NoneType'>

<class 'NoneType'>

In [8]:
s = "Python"
print(type(s))  # <class 'str'>

<class 'str'>

In [9]:
flag = True
print(type(flag))  # <class 'bool'>

<class 'bool'>

In [10]:
fruits = ["apple", "banana", "cherry"]
print(type(fruits))  # <class 'list'>

<class 'list'>

In [11]:
point = (3, 5)
print(type(point))  # <class 'tuple'>

<class 'tuple'>

In [12]:
fruits = {"apple", "banana", "cherry"}
print(type(fruits))  # <class 'set'>

<class 'set'>

In [13]:
student = {"name": "Alice", "age": 22}
print(type(student))  # <class 'dict'>

<class 'dict'>

In [14]:
b = b"Hello"
print(type(b))  # <class 'bytes'>

<class 'bytes'>

In [15]:
fs = frozenset([1, 2, 3])
print(type(fs))  # <class 'frozenset'>

<class 'frozenset'>

In [16]:
from collections import OrderedDict
od = OrderedDict()
od["apple"] = 1
od["banana"] = 2
print(type(od))  # <class 'collections.OrderedDict'>

<class 'collections.OrderedDict'>

In [17]:
from collections import defaultdict
dd = defaultdict(int)
dd["apple"] += 1
print(dd)  # defaultdict(<class 'int'>, {'apple': 1})

defaultdict(<class 'int'>, {'apple': 1})

In [18]:
from collections import Counter
c = Counter(["apple", "banana", "apple"])
print(c)  # Counter({'apple': 2, 'banana': 1})

Counter({'apple': 2, 'banana': 1})

In [19]:
from collections import deque
d = deque()
d.append(1)
d.appendleft(2)
print(d)  # deque([2, 1])

deque([2, 1])

In [20]:
from collections import UserDict
class MyDict(UserDict):
    def __setitem__(self, key, value):
        super().__setitem__(key, value)
d = MyDict()
d["apple"] = 1
print(d)  # MyDict({'apple': 1})

{'apple': 1}

In [21]:
from collections import UserList
class MyList(UserList):
    def append(self, item):
        super().append(item)
l = MyList()
l.append(1)
print(l)  # MyList([1])

[1]

In [22]:
x = 10      # x is int
x = "ten"   # now x is str
print(type(x))  # <class 'str'>

<class 'str'>

In [23]:
a = 5       # int
b = 2.0     # float
c = a + b   # int + float -> float
print(c)    # 7.0
print(type(c))  # <class 'float'>

7.0
<class 'float'>

In [24]:
a = "5"
b = "2"
c = int(a) + int(b)  # convert strings to int
print(c)  # 7

7

In [25]:
x = 3.7
y = int(x)  # y is 3 (decimal part is truncated)
print(y)

3

In [26]:
a = 10
b = 3
print(a + b)  # 13
print(a / b)  # 3.333...
print(a // b) # 3
print(a ** b) # 1000

13
3.3333333333333335
3
1000

In [27]:
print(5 > 2)   # True
print(5 == 2)  # False

True
False

In [28]:
x = 5
print(x > 2 and x < 10)  # True
print(not(x == 5))       # False

True
False

In [29]:
a = 5  # 0101
b = 3  # 0011
print(a & b)  # 1
print(a | b)  # 7
print(a ^ b)  # 6
print(~a)     # -6
print(a << 1) # 10
print(a >> 1) # 2

1
7
6
-6
10
2

In [30]:
x = 10
x += 5  # x = x + 5
print(x)  # 15

15

In [31]:
nums = [1, 2, 3]
print(2 in nums)      # True
print(4 not in nums)  # True

True
True

In [32]:
a = [1, 2]
b = a
c = [1, 2]
print(a is b)      # True
print(a is c)      # False
print(a == c)      # True

True
False
True

In [33]:
result = 2 + 3 * 4      # Multiplication has higher precedence: 2 + (3 * 4) = 14
result = (2 + 3) * 4    # Parentheses change the order: (2 + 3) * 4 = 20
result = 2 ** 3 ** 2    # Exponentiation is right-to-left: 2 ** (3 ** 2) = 512
result = 10 - 4 + 2     # Addition and subtraction are left-to-right: (10 - 4) + 2 = 8

In [34]:
# This is a single-line comment
print("Hello")  # This is an inline comment

Hello

In [35]:
# This is a
# multi-line comment

'''
This is also a
multi-line comment
'''

'\nThis is also a\nmulti-line comment\n'

In [36]:
def add(a, b):
    """
    Adds two numbers.
    """
    return a + b